<div class="MainPAge">


    <div class="row d-flex flex-row justify-content-between" style="background-color:rgb(197, 197, 204);">
        <div class="col-6">

            <div class="form-group">
                <label> EBBB</label>
                <select [(ngModel)]="defaultActionType" class="form-control custom-select bg-light" id="action" (input)="changeDefaultaction($event)">
                    <option *ngFor="let a of actionTypes">
                        {{a}}
                    </option>-->
                </select>
            </div>
            <button type="button" class="btn pl-5 pr-5 pt-2 pb-2" (click)="onclick1()">GetAll Entries</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onclick2()">GetEntries BYID</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-default" (click)="onclick3()">GetEntries by NAME</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-info" (click)="onclick4()">Get Entries by Gender</button>
        </div>
    </div>

</div>