
.MainPAge{
    background-color: cyan;
}

.btn-info{
    background-color: #007bff;
    border-color: royalblue;
    padding: 2px;
    width: 100px
}

.btn-primary{
    background-color: #007bff;
    border-color: chartreuse;
    padding: 2px;
    width: 100px
}

.btn-default{
    background-color: #007bff;
    border-color: coral;
    padding: 2px;
    width: 100px
}

.table{
    background-color: aliceblue;
    border-color: black;
    color: coral;
}
.th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.th{
    padding: 20px;
}